// Buttons
.btn {
    text-transform: uppercase;
    padding: 0 15px;
    font-family: @font-primary;
    font-size: @font-12px;
    height: 40px;
    border-radius: @form-radius;
    box-sizing: border-box;
    transition: all 0.15s linear;
}

.btn-primary {
    color: #fff;
    background: @color-primary;

    &:hover {
        background: darken(@color-primary, 5%);
    }
}

// Inputs
.input {
    border: 1px solid @border-color;
    border-radius: @form-radius;
    height: 40px;
    background: #fff;
    padding: 0 10px;
    font-size: @font-12px;
    font-family: @font-primary;
    box-sizing: border-box;
}