// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'font-awesome.less';

// CSS Components
@import 'var.less';
@import 'reset.less';
@import 'typography.less';
@import 'alerts.less';
@import 'buttons.less';
@import 'pagination.less';

.container {
    padding: 0 @column-gap;
    max-width: 960px;
    margin: 0 auto;
}

.list-products {
    padding: @row-gap 0;
    display: grid;
    grid-row-gap: @row-gap;

    li {
        > a {
            display: grid;
            grid-template-columns: 80px auto;
            grid-column-gap: @column-gap;
            font-size: 0;

            &:hover {

                img {
                    border-color: darken(@color-border, 5%);
                }
            }
        }
    }

    .col-image {
        background: #fff;

        img {
            aspect-ratio: 1/1;
            transition: all 0.15s linear;
        }
    }

    .col-text {
        padding: 10px 0 0;
        overflow: hidden;
    }

    .col-image img {
        border: 1px solid @color-border;
    }

    .title {
        color: @color-black-default;
        font-size: @font-12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: lowercase;
        transition: all 0.15s linear;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    .price {
        color: #a5a5a5;
        font-size: @font-10px;
        font-weight: 600;
        margin-top: 3px;
    }

    .price-selling {
        color: @color-black-default;
        font-size: @font-12px;
        font-weight: 600;
        margin-top: -3px;
    }
}

#page-cart {
    
    .price-total {
        border-top: 1px solid @color-border;
        border-bottom: 1px solid @color-border;
        padding: 22px 0;
    
        .container {
            display: flex;
            justify-content: space-between;
        }
    
        .text,
        .price {
            font-size: 16px;
            font-weight: 700;
        }
    }

    .form-cart {
        .buttons {
            padding: 20px 0;
        }
    
        .btn-default {
            margin-bottom: 8px;
        }

        .btn {
            width: 100%;
        }
    }
}

@media all and (min-width: @breakpoint-medium) {

    .list-products {
        grid-row-gap: 0;
        padding: 0;

        li {

            > a {
                padding: 15px;

                &:hover {
                    background: rgba(0,0,0,0.015);
                }
            }

            + li {
                border-top: 1px solid @color-border;
            }
        }
    }

    #page-cart {
    
        .price-total {
            background: rgba(0,0,0,0.025);
            border: 0;

            .container {
                justify-content: flex-end;
            }
    
            .price {
                margin-left: 45px;
            }
        }
        .form-cart {

            .buttons {
                display: flex;
                justify-content: space-between;
            }
    
            .btn {
                width: auto;
            }

            .btn-default {
                margin-bottom: 0;
            }
        }
    }

    #page-products {

        .list-products {
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: @column-gap;
            padding: 15px 0;

            li {
                > a {
                    display: block;
                    padding: 15px 0;

                    &:hover {
                        background: transparent;

                        .col-image img {
                            border-color: @color-primary;
                        }
                    }
                }

                + li {
                    border-top: 0;
                }
            }

            .title {
                height: 42px;
                font-size: @font-14px;
                white-space: normal;
            }

            .price {
                font-size: @font-12px;
            }

            .price-selling {
                font-size: @font-14px;
            }
        }
    }
}