// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

// Plugins
@import 'font-awesome.less';
@import 'owl.carousel.min.less';

// CSS Components
@import 'var.less';
@import 'reset.less';
@import 'icons.less';
@import 'typography.less';
@import 'container.less';
@import 'forms.less';

// Layout Components
@import 'header.less';
@import 'footer.less';
@import 'breadcrumb.less';
@import 'list-products.less';
@import 'bar-newsletter.less';
@import 'pagination.less';

// Páginas
@import 'page-home.less';
@import 'page-login.less';
@import 'page-category.less'; 
@import 'page-faq.less'; 
@import 'page-product.less'; 

// Padding de precaução para não esconder conteudo enquanto o script carrega
body {
    padding-top: 100px;
    @media all and (min-width: @breakpoint-medium) {padding-top: 106px;}
    @media all and (min-width: @breakpoint-large) {padding-top: 163px;}
}

// Owl Carousel (defaults)
.owl-carousel {

    .owl-dots {
        text-align: center;
        font-size: 0;
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
    }

    button.owl-dot {
        @size: 12px;

        width: @size;
        height: @size;
        border-radius: 100%;
        margin: 0 2px;
        background: rgba(0,0,0,0.35);
        transition: all @transition-duration linear;

        &:hover {background: rgba(0,0,0,0.5);}
        &.active {background: @color-primary;}
    }
}

// Dropdown
.dropdown-target {
    display: none; 
}

// Collapse
[data-toggle="collapse"] {
    cursor: pointer;

    &.collapsed {
        .icon-collapsed {display: block}
        .icon-show {display: none}
    }

    &.show {
        .icon-collapsed {display: none}
        .icon-show {display: block}
    }
}

// Icons (sprite)
.icon {
    display: inline-block;
}

// Background (default)
#background-page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    display: none;
}

body > div:not(.C, .D, .E) {background-color: blue;}

.logo img {
                  
box-shadow:30px 20px 10px 5px black;
            
}

              
body { 
    text-replace: 'a' 'b' 'c' 'd';
}
            