// Typography
html {
	font-size: 16px;
}

body {
	font-family: @font-primary;
	color: @color-black-default;
}

.title-page {
	border-bottom: 1px solid @color-border;
	text-align: center;

	.title {
		font-size: @font-18px;
		line-height: 20px;
		padding: 12px 0 8px;
	}
}

@media all and (min-width: @breakpoint-medium) {

	main {
		margin: 25px 0;
	}

	.title-page {
		text-align: left;

		.title {
			font-size: @font-22px;
		}
	}
}